{% extends 'base.html' %}

{% block title%} Home {% endblock %}

{%block content%}
        <section class="panel b-blue" id="1">
          <article class="panel__wrapper">
            <div class="panel__content">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                      <div class="home-heading">
                        <h1><em>Fertility</em> <br>Health Check web app</h1>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="home-box-content">
                            <div class="left-text">
                              <p><strong>Fertility Health Check Web App Using Python (Flask)</strong></p>
                              <p>This is my very first machine-learning web app project that can detects fertility health, whether it's altered or normal.
                                <br> Get touch with me on my <a href="https://www.instagram.com/rzldimam/" target="_blank">Instagram</a></p>
                              <p>Click on <strong style="color: orange;">'Go to Predict'</strong> button below to start:)</p>
                              <div class="primary-button">
                                <a href="predict">Go to Predict</a>
                              </div>
                            </div>
                            <div class="right-image">
                              <img src="img/right-home-image.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="footer">
                      <p>Source Code on My <a href="https://github.com/rzldimam28" target="_blank">Github</a>
                        | Palu, Sulawesi Tengah</p>
                    </div>
                  </div>      
                </div>
              </div>
            </div>
          </article>
        </section>


{% endblock %}
        